@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/Mario-Yoshi-Eggs-bw.png');
    opacity: 0.1;
    z-index: -1;
}

:root {
  --text-color: #ffffff;
  --link-color: #e1e54B;
}

.dynamic-text { color: var(--text-color); }
.dynamic-link { color: var(--link-color); }
.dynamic-link:hover { opacity: 0.8; text-decoration: underline; }
